/********************
 * Default Variables
 */

/**
 * Site Color
 */
$brand-primary:   #333333;
$brand-secondary: #59ABE3;
$brand-accent:    #EF4836;

$brand-blue:     #008DE2;
$brand-black:    #000000;
$brand-pink:     #F14D76;
$brand-sunset:   #F64747;
$brand-aqua:     #4EC5C1;
$brand-lime:     #E5E338;
$brand-madison:  #313541;
$brand-purple:   #242458;
$brand-chambray: #3A539B;
$brand-gray:     #F1F1F1;
$brand-green:    #00B16A;
$brand-orange:   #F89406;

// Social Colors
$facebook:       #3b5998;
$google-plus:    #dd4b39;

/**
 * Site Fonts
 */
$font-face-url:   "../fonts/";
$primary-font:    "Avenir LT Std", sans-serif;